.top-menu-bar {
  .navbar {
    background: darksalmon;
    padding: size('md');
    border-bottom: 2px solid black;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    font-family: 'Kadwa', serif;

    .navbar-nav {
      flex-direction: row;
      display: flex;
    }

    .nav-link {
      padding: 0 size('md');
      text-decoration: none;
      color: gainsboro;

      &.active {
        border-bottom: 4px solid white;
        padding-bottom: size('md') - 4;
        color: white;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
