
.top-menu-bar{
  .navbar{
    background: grey;
    padding: size('md');
    border: 2px solid black;
    margin: size('sm');
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    font-family: 'Bree Serif', serif;

    .navbar-nav{
      flex-direction: row;
      display: flex;
    }

    .nav-link{
      padding: 0 size('md');
      text-decoration: none;
      color: ghostwhite;

      &.active{
        border: 2px solid black;
        border-bottom: 2px solid ghostwhite;
        border-radius: 25% 25% 0 0;
        padding: size('xs') size('md') size('md');
        background: ghostwhite;
        box-sizing: border-box;
        color: black;
      }

      &:focus {
        outline: none;
      }
    }
  }
}