.top-menu-bar {
  height: 4rem;

  .navbar-brand {
    padding: 0;
  }
  .navbar {
    background: color('pink1');
    padding: 0 size('md');
    box-shadow: inset black 0 -2px 0;
    font-family: 'Kadwa', serif;

    .nav-underline {
      height: 3px;
      background-color: white;
      position: absolute;
      bottom: 2px;
    }
    .navbar-nav {
      border: 0;
      padding-top: 1.4rem;

      :last-child {
        margin-bottom: 0;
      }
    }
    .nav-item {
      width: 90px;

      .nav-link {
        border: 0;
        padding: 0 size('md');
        text-decoration: none;
        text-align: center;
        color: black;

        &.active {
          border: 0;
          margin-bottom: 3px;
          padding-bottom: 1rem;
          color: white;
          background: inherit;
        }
        &:focus {
          outline: none;
        }
      }
    }
    .account-dropdown {
      height: 100%;

      .dropdown {
        height: inherit;

        .nav-link {
          background-color: inherit;
        }

        .dropdown-menu {
          background-color: color('pink1');
          margin-top: -2px;
          border: 2px solid black;
          border-top: none;
          min-width: 100%;

          .dropdown-item {
            color: black;
            padding-left: 15px;

            &:hover {
              background-color: lighten(color('pink1'), 5%);
            }
          }
        }

        .dropdown-toggle[aria-expanded='true'] {
          color: white;
        }
      }
    }
  }
}
